# Logs
*.log
*.log.*
*.gz

# Reports
/var/reports/*
  
# if you want to keep a sample report
!cert-lite.txt

# Certificates
/etc/ssl/patrol/*.crt

# System files
*.swp
*.swo
*~
.DS_Store

# Python cache (if you ever test with python)
__pycache__/
*.pyc

# Ansible cache
*.retry

